# This workflow will install Python dependencies, run tests and format with a variety of Python versions

name: Test, sort imports, and format

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.0.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install pipx
        pipx ensurepath

        pipx install poetry
        pipx inject poetry poetry-plugin-export

        poetry export --output requirements.txt --without-hashes --with test
        
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
        python -m pip install .

    - name: Test with pytest
      run: |
        python -m pytest

  sort-imports_and_format:

    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Sort imports with isort
        uses: isort/isort-action@v1.1.0

      - name: Format with black
        uses: psf/black@stable
